@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system,"微軟正黑體", "Microsoft JhengHei", "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: $vividPink;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-weight: 700;
  font-size: $font-xl;
  font-family: "Josefin Sans", sans-serif;
}

h2,
h3 {
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-size: $font-xs;
  line-height: 1.8;
  letter-spacing: 1px;
}
