@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-min($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {
        .h-#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
        .h-#{$abbrev}t#{$infix}-#{$size},
        .h-#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top: $length !important;
        }
        .h-#{$abbrev}r#{$infix}-#{$size},
        .h-#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
        }
        .h-#{$abbrev}b#{$infix}-#{$size},
        .h-#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-bottom: $length !important;
        }
        .h-#{$abbrev}l#{$infix}-#{$size},
        .h-#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-left: $length !important;
        }
      }
    }

    @each $size, $length in $spacers {
      @if $size != 0 {
        .h-m#{$infix}-n#{$size} {
          margin: -$length !important;
        }
        .h-mt#{$infix}-n#{$size},
        .h-my#{$infix}-n#{$size} {
          margin-top: -$length !important;
        }
        .h-mr#{$infix}-n#{$size},
        .h-mx#{$infix}-n#{$size} {
          margin-right: -$length !important;
        }
        .h-mb#{$infix}-n#{$size},
        .h-my#{$infix}-n#{$size} {
          margin-bottom: -$length !important;
        }
        .h-ml#{$infix}-n#{$size},
        .h-mx#{$infix}-n#{$size} {
          margin-left: -$length !important;
        }
      }
    }

    .h-m#{$infix}-auto {
      margin: auto !important;
    }
    .h-mt#{$infix}-auto,
    .h-my#{$infix}-auto {
      margin-top: auto !important;
    }
    .h-mr#{$infix}-auto,
    .h-mx#{$infix}-auto {
      margin-right: auto !important;
    }
    .h-mb#{$infix}-auto,
    .h-my#{$infix}-auto {
      margin-bottom: auto !important;
    }
    .h-ml#{$infix}-auto,
    .h-mx#{$infix}-auto {
      margin-left: auto !important;
    }
  }
}
