@each $name, $color in $theme-colors {
  .h-text-#{$name} {
    color: $color !important;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-min($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .h-text#{$infix}-center {
      text-align: center !important;
    }
    .h-text#{$infix}-left {
      text-align: left !important;
    }
    .h-text#{$infix}-right {
      text-align: right !important;
    }
  }
}

.h- {
  &hideText {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  &text-capital {
    text-transform: uppercase !important;
  }
}
